{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
<center>
<h1>About our Company.. 🏠</h1>
</center>

<br>
<br>

<p>Welcome to the Puppy Company Blog, your go-to source for everything puppy-related! Whether you're a new puppy parent, an experienced dog owner, or simply a dog lover, our blog is packed with valuable insights, tips, and heartwarming stories to help you and your furry friend live your best lives together.</p>

<p>Thank you for visiting the Puppy Company Blog. We look forward to sharing this wonderful journey with you and your puppy. Remember, a happy puppy makes a happy home!</p>
    
<p>Feel free to reach out with any questions or topics you'd like us to cover. Happy reading and puppy parenting!</p>


</div>
{% endblock %}